In [10]:
with c as (select ProductID, avg(LineTotal) avg_line_total
from Sales.SalesOrderDetail
group by ProductID)
select sod.ProductID, sum(sod.LineTotal) total_LineTotal,
    count(sod.SalesOrderID) num_orders,
    count(distinct sod.SalesOrderID) num_distinct_orders,
    sum(sod.OrderQty) total_items
from Sales.SalesOrderDetail sod
    join c on sod.ProductID=c.ProductID and sod.LineTotal>avg_line_total
group by sod.ProductID;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Sales.SalesOrderDetail'.

In [3]:
use AdventureWorks2019;

In [6]:
-- find the product which was sold in most orders (or most items of it were sold)


with c as (
select sod.ProductID, sum(sod.LineTotal) total_LineTotal,
    count(sod.SalesOrderID) num_orders,
    count(distinct sod.SalesOrderID) num_distinct_orders,
    sum(sod.OrderQty) total_items
from Sales.SalesOrderDetail sod
group by sod.ProductID)
,t as (
    select top 1 ProductId, num_distinct_orders
    from c
    order by num_distinct_orders desc
)
select
    -- c.*, 
    t.num_distinct_orders,
    p.*
from t join Production.Product p on t.ProductID=p.ProductID
-- join c on c.ProductId=t.productId
;

-- how many orders it was sold in and what are the product details
    -- join c on sod.ProductID=c.ProductID and sod.LineTotal>avg_line_total

num_distinct_orders,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
4688,870,Water Bottle - 30 oz.,WB-H098,0,1,NULL,4,3,1.8663,4.99,NULL,NULL,NULL,NULL,0,S,NULL,NULL,28,111,2013-05-30 00:00:00.000,NULL,NULL,834e8d1a-69a7-4c42-8b68-fa08d9ec9e5b,2014-02-08 10:01:36.827

In [16]:
with cte as (
select sod.ProductID, sum(sod.LineTotal) total_LineTotal,
    count(sod.SalesOrderID) num_orders,
    count(distinct sod.SalesOrderID) num_distinct_orders,
    sum(sod.OrderQty) total_items
from Sales.SalesOrderDetail sod
group by sod.ProductID)
,b as (
select cte.*,
    ROW_NUMBER() over (order by num_orders desc, total_items desc, total_LineTotal desc, ProductID) rn
from cte
)
select b.*, p.*
from b
join Production.Product p on b.ProductID=p.ProductID
where b.rn>=2 and b.rn<10;
-- select
--     -- c.*, 
--     t.num_distinct_orders,
--     p.*
-- from t join Production.Product p on t.ProductID=p.ProductID
-- -- join c on c.ProductId=t.productId
-- ;

ProductID,total_LineTotal,num_orders,num_distinct_orders,total_items,rn,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,Size,SizeUnitMeasureCode,WeightUnitMeasureCode,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
712,51229.445623,3382,3382,8311,2,712,AWC Logo Cap,CA-1098,0,1,Multi,4,3,6.9223,8.99,NULL,NULL,NULL,NULL,0,S,NULL,U,19,2,2011-05-31 00:00:00.000,NULL,NULL,b9ede243-a6f4-4629-b1d4-ffe1aedc6de7,2014-02-08 10:01:36.827
873,8232.597632,3354,3354,3865,3,873,Patch Kit/8 Patches,PK-7098,0,1,NULL,4,3,0.8565,2.29,NULL,NULL,NULL,NULL,0,S,NULL,NULL,37,114,2013-05-30 00:00:00.000,NULL,NULL,36e638e4-68df-411b-930a-daad57221aa6,2014-02-08 10:01:36.827
921,15444.050000,3095,3095,3095,4,921,Mountain Tire Tube,TT-M928,0,1,NULL,500,375,1.8663,4.99,NULL,NULL,NULL,NULL,0,M,NULL,NULL,37,92,2013-05-30 00:00:00.000,NULL,NULL,01a8c3fc-ed52-458e-a634-d5b6e2accfed,2014-02-08 10:01:36.827
711,165406.617049,3090,3090,6743,5,711,"Sport-100 Helmet, Blue",HL-U509-B,0,1,Blue,4,3,13.0863,34.99,NULL,NULL,NULL,NULL,0,S,NULL,NULL,31,33,2011-05-31 00:00:00.000,NULL,NULL,fd7c0858-4179-48c2-865b-abd5dfc7bc1d,2014-02-08 10:01:36.827
707,157772.394392,3083,3083,6266,6,707,"Sport-100 Helmet, Red",HL-U509-R,0,1,Red,4,3,13.0863,34.99,NULL,NULL,NULL,NULL,0,S,NULL,NULL,31,33,2011-05-31 00:00:00.000,NULL,NULL,2e1ef41a-c08a-4ff6-8ada-bde58b64a712,2014-02-08 10:01:36.827
708,160869.517836,3007,3007,6532,7,708,"Sport-100 Helmet, Black",HL-U509,0,1,Black,4,3,13.0863,34.99,NULL,NULL,NULL,NULL,0,S,NULL,NULL,31,33,2011-05-31 00:00:00.000,NULL,NULL,a25a44fb-c2de-4268-958f-110b8d7621e2,2014-02-08 10:01:36.827
922,9480.240000,2376,2376,2376,8,922,Road Tire Tube,TT-R982,0,1,NULL,500,375,1.4923,3.99,NULL,NULL,NULL,NULL,0,R,NULL,NULL,37,93,2013-05-30 00:00:00.000,NULL,NULL,ea442bd7-f69b-42d9-aa71-95e10b648f52,2014-02-08 10:01:36.827
878,46619.580000,2121,2121,2121,9,878,Fender Set - Mountain,FE-6654,0,1,NULL,4,3,8.2205,21.98,NULL,NULL,NULL,NULL,0,M,NULL,NULL,30,121,2013-05-30 00:00:00.000,NULL,NULL,e6e76c7f-c145-4cad-a9e8-b1e4e845a2c0,2014-02-08 10:01:36.827

In [1]:
CREATE TABLE #table1
(ID INT, Value VARCHAR(10))
INSERT INTO #Table1 (ID, Value)
VALUES (1,'First'),
          (2,'Second'),
          (3,'Third'),
          (4,'Forth'),
(5,'Fifth')
;

CREATE TABLE #table2
(ID INT, Value VARCHAR(10))
INSERT INTO #Table2 (ID, Value)
VALUES (1,'First'),
          (2,'Second'),
          (3,'Third'),
          (6,'Sixth'),
          (7,'Seventh'),
          (8,'Eighth')
;
GO
GO 
SELECT *
FROM #Table1
SELECT * FROM #Table2

ID,Value
1,First
2,Second
3,Third
4,Forth
5,Fifth

ID,Value
1,First
2,Second
3,Third
6,Sixth
7,Seventh
8,Eighth

In [3]:
SELECT t1.Id T1_Id, t2.Id T2_Id
from #Table1 t1 
    left join #Table2 t2 on t1.Id=t2.Id

T1_Id,T2_Id
1,1
2,2
3,3
4,NULL
5,NULL

In [5]:
SELECT t1.Id T1_Id, t2.Id T2_Id
from #Table1 t1 
    right join #Table2 t2 on t1.Id=t2.Id

T1_Id,T2_Id
1,1
2,2
3,3
NULL,6
NULL,7
NULL,8

In [6]:
SELECT t1.Id T1_Id, t2.Id T2_Id
from #Table1 t1 
    left join #Table2 t2 on t1.Id=t2.Id
where t2.Id is null

T1_Id,T2_Id
4,NULL
5,NULL

In [7]:
SELECT t1.Id T1_Id, t2.Id T2_Id
from #Table1 t1 
    right join #Table2 t2 on t1.Id=t2.Id
where t1.Id is null

T1_Id,T2_Id
NULL,6
NULL,7
NULL,8