In [1]:
create DATABASE MobileOperatorManagement

In [2]:
use MobileOperatorManagement

In [3]:
create TABLE Client
(
    id int IDENTITY PRIMARY KEY,
    SSN NVARCHAR(30) not null,
    ClientCity NVARCHAR(30) not null,
    ClientStreet NVARCHAR(30) not null,
    ClientNumber int not null,
    ClientType NVARCHAR(30) not null,
);

In [4]:
create TABLE MobileOperator
(
    id int IDENTITY PRIMARY KEY,
    MobileOperatorName NVARCHAR(30) not null,
    MobileOperatorDescription NVARCHAR(30) not null,
);

In [5]:
create TABLE MobilePlan
(
    id int IDENTITY PRIMARY KEY,
    MobileOperatorId int not null REFERENCES MobileOperator(id),
    PlanName NVARCHAR(30) not null,
    PlanDescription NVARCHAR(30) not null,
);

In [6]:
create TABLE AdditionalService
(
    id int IDENTITY PRIMARY KEY,
    AdditionalServiceName NVARCHAR(30) not null,
);

In [7]:
create TABLE TelephoneNumber 
(
    id int IDENTITY PRIMARY KEY,
    ClientId int not null REFERENCES Client(id),
    TelephoneNumber NVARCHAR(30) not null,
);

In [9]:
create TABLE NumberPlan
(
    id int IDENTITY PRIMARY KEY,
    PlanId int not null REFERENCES MobilePlan(id),
    TelephoneNumberId int not null REFERENCES TelephoneNumber(id),
    NumberPlanName NVARCHAR(30) not null,
    NumberPlanDescription NVARCHAR(30) not null,
);

In [11]:
create TABLE Agreement
(
    id int IDENTITY PRIMARY KEY,
    ClientId int not null REFERENCES Client(id),
    MobileOperatorId int not null REFERENCES MobileOperator(id),
    TelephoneNumberId int not null REFERENCES TelephoneNumber(id),
    AgreementDate datetime not null DEFAULT GETUTCDATE(),
);

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Agreement' in the database.

In [15]:
alter TABLE Client ADD UNIQUE(SSN)

In [17]:
alter TABLE MobileOperator ADD CONSTRAINT MobileOperatorName_Check CHECK (MobileOperatorName in ('T-Mobile','Vip.One') AND MobileOperatorName!=' ' AND len(MobileOperatorName)>0)

In [18]:
alter TABLE TelephoneNumber ADD UNIQUE(TelephoneNumber)

In [19]:
alter TABLE TelephoneNumber ADD CONSTRAINT TelephoneNumberStartWithZero CHECK(TelephoneNumber LIKE '0%')

In [3]:
alter TABLE Agreement DROP CONSTRAINT FK__Agreement__Mobil__46E78A0C

In [4]:
alter TABLE Agreement DROP COLUMN MobileOperatorId

In [5]:
alter TABLE Agreement ADD MobileOperatorId int not null REFERENCES MobileOperator(id) ON DELETE CASCADE

In [7]:
alter TABLE MobilePlan DROP CONSTRAINT FK__MobilePla__Mobil__3A81B327

In [8]:
alter TABLE MobilePlan DROP COLUMN MobileOperatorId

In [9]:
alter TABLE MobilePlan ADD MobileOperatorId int not null REFERENCES MobileOperator(id) ON DELETE CASCADE