In [4]:
create DATABASE HotelManagement

: Msg 1801, Level 16, State 3, Line 1
Database 'HotelManagement' already exists. Choose a different database name.

In [6]:
use HotelManagement

In [3]:
create TABLE Hotel
(
    id int IDENTITY PRIMARY KEY,
    HotelName NVARCHAR(30) not null,
    HotelAddress NVARCHAR(30) not null,
    HotelRating NVARCHAR(30) not null,
    HotelCity NVARCHAR(30) not null,
    HotelCountry NVARCHAR(30) not null,
);

In [4]:
create TABLE Client 
(
    id int IDENTITY PRIMARY KEY,
    FirstName NVARCHAR(30) not null,
    LastName NVARCHAR(30) not null,
    ClientAddress NVARCHAR(30) not null,
    ClientCountry NVARCHAR(30) not null,
);

In [5]:
create TABLE RoomType
(
    id int IDENTITY PRIMARY KEY,
    RoomTypeName NVARCHAR(30) not null,
    NumberOfBeds int not null,
    NumberOfPersons int not null,
);

In [6]:
create TABLE Room 
(
    id int IDENTITY PRIMARY KEY,
    RoomTypeId int not null REFERENCES RoomType(id),
    HotelId int not null REFERENCES Hotel(id),
    RoomFloor int not null,
);

In [7]:
create TABLE Reservation 
(
    id int IDENTITY PRIMARY KEY,
    RoomTypeId int not null REFERENCES RoomType(id),
    HotelId int not null REFERENCES Hotel(id),
    ClientId int not null REFERENCES Client(id),
    ReservationDate datetime not null DEFAULT GETUTCDATE(),
    ArrivalDate datetime not null DEFAULT GETUTCDATE(),
    DepartureDate datetime not null DEFAULT GETUTCDATE(),
);

In [8]:
alter TABLE Reservation Add NumberOfRooms int not null

In [9]:
alter TABLE Reservation Add NumberOfGuests int not null
alter TABLE Reservation Add PaymentType NVARCHAR(30) not null

In [4]:
alter TABLE Reservation DROP COLUMN PaymentType;

In [5]:
create TABLE StatusOfReservation (
    id int IDENTITY PRIMARY KEY,
    ReservationStatus NVARCHAR(30) not null,
);

In [1]:
create TABLE PaymentType (
    id int IDENTITY PRIMARY KEY,
    PaymentType NVARCHAR(30) not null,
);

In [2]:
create TABLE PriceOfRoom 
(
    id int IDENTITY PRIMARY KEY,
    PaymentTypeId int not null REFERENCES PaymentType(id),
);

In [7]:
create TABLE Rating
(
    id int IDENTITY PRIMARY KEY,
    Rating int not null,
    ClientId int not null REFERENCES Client(id),
);

In [8]:
create TABLE Comment (
    id int IDENTITY PRIMARY KEY,
    ClientId int not null REFERENCES Client(id),
    HotelId int not null REFERENCES Hotel(id),
    CommentDate datetime not null DEFAULT GETUTCDATE(),
    ContentOfComment NVARCHAR(30) not null,
);

In [9]:
alter TABLE Hotel DROP COLUMN HotelCity;

In [10]:
create TABLE Landmark
(
    id int IDENTITY PRIMARY KEY,
    LandmarkName NVARCHAR(30) not null,
    LandmarkDescription NVARCHAR(30) not null,
    LandmarkAttractiveness int not null,
    LandmarkOpeningHours NVARCHAR(20) not null,
);

In [11]:
create TABLE City
(
    id int IDENTITY PRIMARY KEY,
    LandmarkId int not null REFERENCES Landmark(id),
);

In [12]:
create TABLE DistanceBetweenLandmarks
(
    id int IDENTITY PRIMARY KEY,
    LandmarkIdFirst int not null REFERENCES Landmark(id),
    LandmarkIdSecond int not null REFERENCES Landmark(id),
    Distance float not null,
);

In [13]:
create TABLE DistanceBetweenHotelAndLandmarks
(
    id int IDENTITY PRIMARY KEY,
    LandmarkId int not null REFERENCES Landmark(id),
    HotelId int not null REFERENCES Hotel(id),
    Distance float not null,
);

In [14]:
create TABLE VisitedLandmark
(
    id int IDENTITY PRIMARY KEY,
    LandmarkId int not null REFERENCES Landmark(id),
    ClientId int not null REFERENCES Client(id),
);