In [2]:
USE hw4

In [3]:
ALTER TABLE Consultants ADD FOREIGN KEY (ConsultantPostalCode) REFERENCES PostalCode(PostalCodeID)

In [4]:
ALTER TABLE Orders ADD FOREIGN KEY (ConsultantID) REFERENCES Consultants(ConsultantID)

In [5]:
ALTER TABLE Products ADD FOREIGN KEY (SupplierID) REFERENCES Suppliers(SupplierID)
ALTER TABLE Products ADD FOREIGN KEY(CategoryID) REFERENCES Categories(CategoryID)

In [6]:
ALTER TABLE OrderDetails ADD FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
ALTER TABLE OrderDetails ADD FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)

In [9]:
--Show the consultants with name starting with the character “P” -- Last Name
SELECT * FROM Consultants WHERE ConsultantName LIKE 'P%'

ConsultantID,ConsultantName,ConsultantAdress,ConsultantPhone,ConsultantPostalCode
89002,Popeska Marija,Kuzman Josifovski 29,022-246-078,1000
89054,Pantekovska Emilija,Goce Delcev 74,047-589-363,4000
89075,Petkovska Biljana,Licka 4,032-380-330,1420
89155,Prlickov Nenad,Simeon Kavrakirov 65,034-334-589,1480

In [10]:
--Show the consultants that have a last name ending in “ska” and a first name starting with “M”.
SELECT * FROM Consultants WHERE ConsultantName LIKE '%ska M%'

ConsultantID,ConsultantName,ConsultantAdress,ConsultantPhone,ConsultantPostalCode
89002,Popeska Marija,Kuzman Josifovski 29,022-246-078,1000
89100,Nikolovska Marina,Jane Sandanski 3,022-450-901,1000
89203,Trpenoska Milica,Mosa Pijade 5/14,045-459-367,1230

In [5]:
--Show the consultants whose first name has exactly 5 characters. You can use the LIKE operatoror or the LEN function.
SELECT * FROM Consultants WHERE ConsultantName LIKE '% _____'

ConsultantID,ConsultantName,ConsultantAdress,ConsultantPhone,ConsultantPostalCode
89093,Krstevski Ivica,Anastas Mitrev 5,046-238-353,9330
89155,Prlickov Nenad,Simeon Kavrakirov 65,034-334-589,1480
89445,Efremoski Goran,Krali Marko 96,048-412-995,1500
89555,Stojanovski Filip,Ilindenska 35,022-235-600,1000
89600,Avramoska Tanja,Elpida Karamandi 5,043-221-209,3000

In [6]:
--Show the consultants whose first name has at least 5 characters.
SELECT * FROM Consultants WHERE ConsultantName LIKE '% _____%'

ConsultantID,ConsultantName,ConsultantAdress,ConsultantPhone,ConsultantPostalCode
89002,Popeska Marija,Kuzman Josifovski 29,022-246-078,1000
89054,Pantekovska Emilija,Goce Delcev 74,047-589-363,4000
89075,Petkovska Biljana,Licka 4,032-380-330,1420
89093,Krstevski Ivica,Anastas Mitrev 5,046-238-353,9330
89100,Nikolovska Marina,Jane Sandanski 3,022-450-901,1000
89155,Prlickov Nenad,Simeon Kavrakirov 65,034-334-589,1480
89203,Trpenoska Milica,Mosa Pijade 5/14,045-459-367,1230
89445,Efremoski Goran,Krali Marko 96,048-412-995,1500
89555,Stojanovski Filip,Ilindenska 35,022-235-600,1000
89600,Avramoska Tanja,Elpida Karamandi 5,043-221-209,3000
89744,Naumova Nevena,Slavco Stojmenski 98,032-340-555,1500

In [65]:
--Show the products that have a name consisted of at least 2 words.
SELECT p.ProductName
FROM Products as p
WHERE len(trim(p.ProductName))-len(replace(p.ProductName,' ','')) >=1

ProductName
Royal Velvet
Time Reversing
Cotton Candy
Crushed Berries
Precious Spice
Baby Beige
Golden Bronze
Swedish Care
Oriflame Oil Control
Oriflame Skin Care
Time Prevent
Black Cherries
Passion Red
Very Berry
Cover Haze
Natural Summer
Mid Summer

In [64]:
--Show the products that have a name consisted of exactly 2 words.
SELECT p.ProductName
FROM Products as p
WHERE len(trim(p.ProductName))-len(replace(p.ProductName,' ','')) = 1

ProductName
Royal Velvet
Time Reversing
Cotton Candy
Crushed Berries
Precious Spice
Baby Beige
Golden Bronze
Swedish Care
Time Prevent
Black Cherries
Passion Red
Very Berry
Cover Haze
Natural Summer
Mid Summer

In [8]:
--Show the products that contain the letter “D” in lowercase or uppercase.
SELECT * FROM Products WHERE ProductName LIKE '%D%' or ProductName LIKE '%d%'

ProductID,ProductName,ProductPrice,ProductPoints,QuantityPerProduct,SupplierID,CategoryID
4262,Cotton Candy,299,20,50 pieces x 4 g.,1,3
4265,Crushed Berries,299,20,50 pieces x 4 g.,1,3
4288,Golden Bronze,219,15,50 piees x 4 g.,1,3
4823,Swedish Care,499,25,100 boxes,2,2
6581,Dumson,199,15,30 bottles x 7 ml.,3,4
6582,Passion Red,199,15,30 bottles x 7 ml.,3,4
6587,Diva,199,15,30 bottles x 7 ml.,3,4
7013,Solliden,1299,32,50 bottles x 75 ml.,4,1
7190,Indulgence,1099,30,50 bottles x 50 ml.,4,1
7192,Mid Summer,1169,30,50 bottles x 75 ml.,4,1
7537,Giordani,949,28,50 bottles x 75 ml.,4,1
7543,Devine,1249,32,50 bottles x 50 ml.,4,1
8037,DeMarco,829,28,50 bottles x 100ml.,4,1

In [14]:
--Show the names of the products that were never ordered.
SELECT ProductName FROM Products WHERE ProductID not in (SELECT ProductID FROM OrderDetails)

ProductName
Cotton Candy
Crushed Berries
Caramel
Golden Bronze
Time Prevent
Very Berry
Natural Summer
Diva
Solliden
Elvie
Moon
Mid Summer
Eclipse
Giordani
Rebel

In [22]:
--Show the id and the sum of amount for each order.
SELECT od.OrderId,sum(p.ProductPrice * od.Quantity) FROM OrderDetails od JOIN Products p ON od.ProductID = p.ProductID GROUP BY od.OrderID

OrderId,(No column name)
1,716900
2,131700
3,329400
4,135800
5,116900
6,101600
7,343700
8,287700
9,99800
10,679300
11,119400
12,146700
13,224700
14,375400
15,249500

In [25]:
--Show the id of each product and the number of orders in which it is included.
SELECT p.ProductID,count(od.OrderID) Number_Of_Orders FROM Products p LEFT OUTER JOIN OrderDetails od ON od.ProductID = p.ProductID GROUP BY p.ProductID

ProductID,Number_Of_Orders
1120,1
1136,1
4262,0
4265,0
4266,2
4286,2
4287,0
4288,0
4823,1
4880,1
4899,2
4921,0
6580,1
6581,1
6582,1
6583,0
6584,1
6585,0
6587,0
7013,0
7041,1
7088,0
7110,1
7151,0
7190,1
7192,0
7421,1
7474,1
7526,1
7527,0
7537,0
7543,2
7558,1
8037,1
8120,0
8150,2

In [34]:
--Show all product details for products that were ordered at least twice (i.e. that appear in 2
--different orders).
CREATE VIEW nums AS SELECT p.ProductID,count(od.OrderID) Number_Of_Orders FROM Products p LEFT OUTER JOIN OrderDetails od ON od.ProductID = p.ProductID GROUP BY p.ProductID

In [39]:
SELECT p.* FROM Products p JOIN nums n ON n.ProductID=p.ProductID WHERE Number_Of_Orders>=2

ProductID,ProductName,ProductPrice,ProductPoints,QuantityPerProduct,SupplierID,CategoryID
4266,Precious Spice,299,20,50 pieces x 4 g.,1,3
4286,Baby Beige,219,15,50 pieces x 4 g.,1,3
4899,Oriflame Skin Care,159,20,100 boxes,2,2
7543,Devine,1249,32,50 bottles x 50 ml.,4,1
8150,Glacier,799,23,50 bottles x 75 ml.,4,1

In [48]:
--Show the total profit of each consultant separately.
SELECT o.ConsultantID,sum(p.ProductPrice * od.Quantity) Profit FROM OrderDetails od 
JOIN Orders o ON od.OrderID=o.OrderID
JOIN Products p ON p.ProductID=od.ProductID
GROUP BY o.ConsultantID

ConsultantID,Profit
89002,135800
89054,116900
89075,101600
89091,568400
89093,537200
89100,99800
89155,679300
89203,119400
89445,329400
89555,131700
89600,1092300
89744,146700

In [51]:
--Show the names of the products which are not part of the Perfume 
--category but have higher price than at least one perfume (a product that is in the Perfume category).
SELECT min(p.ProductPrice) FROM Products p JOIN Categories c ON p.CategoryID=c.CategoryID WHERE c.CategoryName='Perfumes'

(No column name)
509

In [62]:
SELECT p.* FROM Products p JOIN Categories c ON p.CategoryID=c.CategoryID WHERE 
(p.ProductPrice> (SELECT min(p.ProductPrice) FROM Products p JOIN Categories c ON p.CategoryID=c.CategoryID 
WHERE c.CategoryName='Perfumes') and c.CategoryName!='Perfumes')

ProductID,ProductName,ProductPrice,ProductPoints,QuantityPerProduct,SupplierID,CategoryID
1120,Royal Velvet,749,28,100 boxes,2,2
1136,Time Reversing,1199,30,100 boxes,2,2

In [71]:
--Calculate the average profit of all consultants (average of the total profit per consultant). AMERICA EXPLAIN??
SELECT avg(p.ProductPrice * od.Quantity) Profit FROM OrderDetails od 
JOIN Orders o ON od.OrderID=o.OrderID
JOIN Products p ON p.ProductID=od.ProductID

Profit
"156096,15384615384"

In [74]:
--Calculate the average sum of all orders - OVA E ISTO SO TOA NAD????
SELECT avg(p.ProductPrice*od.Quantity) FROM OrderDetails od JOIN Products p ON od.ProductID=p.ProductID

(No column name)
"156096,15384615384"

In [76]:
--Calculate the average number of products per order
SELECT avg(od.Quantity) FROM OrderDetails od

(No column name)
250

In [86]:
--Find the most expensive product, the number of orders it appears in, and the number of consultants that have sold it.
-- Then display the names of the consultants that have ever sold it.
--Most expensive product ne e nikad narachan this is the best u can get
SELECT TOP 1 p.* FROM OrderDetails od INNER JOIN Products p ON od.ProductID=p.ProductID ORDER BY p.ProductPrice DESC

ProductID,ProductName,ProductPrice,ProductPoints,QuantityPerProduct,SupplierID,CategoryID
7543,Devine,1249,32,50 bottles x 50 ml.,4,1

In [89]:
CREATE VIEW mostExpensiveProdOrder AS SELECT * FROM OrderDetails od WHERE(od.ProductID = (SELECT TOP 1 p.ProductID FROM OrderDetails od INNER JOIN Products p ON od.ProductID=p.ProductID ORDER BY p.ProductPrice DESC))

In [92]:
SELECT * FROM mostExpensiveProdOrder

ProductID,OrderID,Quantity
7543,3,200
7543,7,200

In [97]:
CREATE VIEW consNames AS SELECT c.ConsultantName FROM mostExpensiveProdOrder m JOIN Orders o ON o.OrderID=m.OrderID JOIN Consultants c ON c.ConsultantID = o.ConsultantID

In [104]:
SELECT DISTINCT * FROM consNames

ConsultantName
Efremoski Goran
Lazarova Nina

In [103]:
SELECT count(c.ConsultantName) Nums FROM consNames c

Nums
2