![No description available.](https://scontent.fskp4-2.fna.fbcdn.net/v/t1.15752-9/315212307_1282586235870433_4388977413011550320_n.png?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=CXsEZ1UxqcwAX8lVy3N&tn=ZiQTDigTRoioCgkR&_nc_ht=scontent.fskp4-2.fna&oh=03_AdT0BW71M_XRNy0R9cD8FOgyakGodYOW08flZWpfnWqv1w&oe=63971051)

In [1]:
create DATABASE Conferen-- Create a new database called 'DatabaseName'
-- Connect to the 'master' database to run this snippet
USE Conferen
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'DatabaseName'
)
CREATE DATABASE DatabaseName
GO

: Msg 1801, Level 16, State 3, Line 1
Database 'Conferen' already exists. Choose a different database name.

In [2]:
create TABLE Conference 
(
    id int IDENTITY PRIMARY KEY,
    conferenceName NVARCHAR(20) not null,
    conferenceRegion NVARCHAR(20) not null,
);

In [3]:
create TABLE ConferenceEvent
(
    id int IDENTITY PRIMARY KEY,
    conferenceId int not null REFERENCES Conference(id),
    dateFrom datetime not null DEFAULT GETUTCDATE(),
    dateTo datetime null,
);

Relation with PhoneNumbers and Scientist??? ASK!!!!

Answer:  Create a different table for mulivalued attributes and use FK. 

For composite, optimal way is to use prefix and insert them in the Entity as attributes without complicating and adding new tables.

In [4]:
create TABLE Scientist
(
    id int IDENTITY PRIMARY KEY,
    scientistName NVARCHAR(20) not null,
    scientistSurname NVARCHAR(20) not null,
    scientistEmail NVARCHAR(20) null,  
);

In [ ]:
create TABLE PhoneNumber(
    id int IDENTITY PRIMARY KEY,
    scientistId int not null REFERENCES Scientist(id),
    phoneNumber NVARCHAR(20),
);

In [5]:
create TABLE Institution 
(
    id int IDENTITY PRIMARY KEY,
    institutionName NVARCHAR(20) not null,
    institutionCountry NVARCHAR(20) not null,
);

In [6]:
create TABLE Lab 
(
    id int IDENTITY PRIMARY KEY,
    labName NVARCHAR(20) not null,
    labDesc NVARCHAR(max) null,
    labPrice int not null,
    idInstitution int not null REFERENCES Institution(id),
);

Paper references other paper??? Create a table where 2 ids are kept, referencer id and referee id. 

CoAuthor??? Relation table is always the answer :)

In [2]:
create TABLE ResearchPaper 
(
    id int IDENTITY PRIMARY KEY,
    paperTitle NVARCHAR(20) not null,
    paperSubject NVARCHAR(20) not null,
    mainAuthor int not null REFERENCES Scientist(id),
    conferenceEventId int not null REFERENCES ConferenceEvent(id),
);

: Execution failed due to an unexpected error:
	Cannot connect to the database due to invalid OwnerUri (Parameter 'OwnerUri')

In [3]:
use Conferen

: Execution failed due to an unexpected error:
	Cannot connect to the database due to invalid OwnerUri (Parameter 'OwnerUri')

Missing testing, happens, and works.

How to write composite attribute? Answered above.

Optimal way to write Specialization or Generalization? and whats the difference between the two? Use parent entity id and create tables for the children.

Identity primary key -  database creates the keys - keeps track of order

primary key - inserted by user

nserting values with 'x' not double !!!

In [1]:
INSERT Scientist
VALUES('Deki','Shteki','dm@gmail.com'),
SELECT * Scientist

: Execution failed due to an unexpected error:
	Cannot connect to the database due to invalid OwnerUri (Parameter 'OwnerUri')